input{
    border-radius: 20%;
    height: 30px;
}
#dd{
    height:20px;
    /* width:100%; */
    left: 50px;
    right: 80px;
    background-color:black;
    word-spacing: 70px;
    padding: 30px;
    border-color: brown;
    border-style: none;
    color: bisque;
    font-size: x-large;
    text-align:left;
    /* opacity: 0.9; */
    
    
    
}
table{
    /* border: 1px solid red; */
    /* height: 230px;
    width: 200px; */
    border-width: 5px;
}

td{
    text-indent: 100px;
}
.ss{
    margin-right: 300px;
}



.ee{
   
    margin-top: -500px;
    margin-left: 100px;
    /* shape-margin: 0px; */
    height: 200px;
    row-gap: 200px;
    /* border-width: 10px; */
    /* border-spacing: 20px; */
    /* border-radius: 20px; */
    border-left-width: 100px;
    /* box-sizing: content-box; */
    word-spacing: 10px;
    color:wheat;
    border: 2px solid black;
    


}
button{
    margin-left:100px;
    padding:4px;
    width: 100px;
    font-size: large;
    border: 3px solid wheat;
    color: bisque;
    background-color: black;
}
button{
    margin-left: 100px;
}
